<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TicketApp</title>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <style>
         body {
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         line-height:1.5em;
         color: #232323;
         -webkit-font-smoothing: antialiased;
         }
         h1, h2, h3 {
         font-family: Times, serif;
         line-height:1.5em;
         border-bottom: 1px solid #ccc;
         }
         .page-header {
         border-bottom: 0px;
         }
      </style>
   </head>
   <body>
      <!-- Begin page content -->
      <div class="container">
          <div class="page-header">
              <h1>TicketApp</h1>
          </div>
         {% if main %}

         <div class="container">
          <div class="row">
            <div class="col-sm">
                <h1>Users</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Fiscal Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in Cliente %}
                      <tr>
                          <td>{{ c[0] }}</td>
                          <td>{{ c[1] }}</td>
                          <td>{{ c[2] }}</td>
                          <td>{{ c[3] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <h1>Cinema</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Città</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for r in Cinema %}
                      <tr>
                          <td>{{ r[0] }}</td>
                          <td>{{ r[1] }}</td>
                          <td>{{ r[2] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <h1>Film</h1>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titolo</th>
                        <th scope="col">Regista</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in Film %}
                      <tr>
                          <td>{{ c[0] }}</td>
                          <td>{{ c[1] }}</td>
                          <td>{{ c[2] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>

          </div>
         <hr>
         
            <div class="row">
            <div class="col-sm">
                <h1>Inserisci i dati</h1>
                <form method="POST" action="/getInfoUser">
                    <div class="container">
                        <label for="idR"><b>Codice fiscale</b></label>
                        <input type="text" placeholder="CF" name="codice_fiscale" required>
                        <br>
                        <label for="name"><b>Nome</b></label>
                        <input type="text" placeholder="Nome" name="nome" required>
                        <br>
                        <label for="name"><b>Cognome</b></label>
                        <input type="text" placeholder="Cognome" name="cognome" required>
                        <label for="name"><b>Età</b></label>
                        <input type="text" placeholder="Età" name="età" required>
                        <br>

                        <button type="submit" class="btn btn-default">Invia</button>
                    </div>
                </form>
            </div>
            <div class="col-sm">
                <h1>Scelta Cinema</h1>
                <form method="POST" action="/getCinema">
                    <div class="container">
                        <label for="name"><b>ID cinema</b></label>
                        <input type="text" placeholder="ID" name="id_cinema" required>
                        <br>
                        <button type="submit" class="btn btn-default">Invia</button>
                    </div>
                </form>
            </div>

            <div class="col-sm">
                <h1>Scelta Film</h1>
                <form  method="POST" action="/getFilm">
                    <div class="container">
                        <label for="serialeV"><b>ID film</b></label>
                        <input type="text" placeholder="ID" name="id_film" required>
                        <br>
                        <button type="submit" class="btn btn-default">Invia</button>
                    </div>
                </form>
            </div>
        </div>

        </div>

        {% endif %}
      <hr>

      <div id="footer">
         <div class="container">
            <p>Processo e Sviluppo del Software 2019 - Balducci Gianmaria & Guidi Alessandro</p>
         </div>
      </div>

   </body>
</html>